<% layout('layouts/boilerplate') %>
    <h1>campground show page</h1>
    <h2><%= campgrounds.title %></h2>
    <h3><%= campgrounds.location %></h3>
    <img src="<%= campgrounds.image %>" alt="Please Check the network">
    <p><%= campgrounds.description %></p>
    <a href="/campgrounds">All Camprounds</a>
    <a href="/campgrounds/<%= campgrounds._id %>/edit">Edit</a>
    <form action="/campgrounds/<%= campgrounds._id %>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
    
